<select name="<?= $name ?>" id="<?= $id ?>"
    data-search-endpoint="<?= $searchEndpoint ?>"
    data-name-from="<?= $nameFrom ?>"
    class="form-control model-object-field">
    <?php if ($emptyOption): ?>
        <option value=""><?= $emptyOption ?></option>
    <?php endif ?>
    <?php foreach ($options as $optionValue => $optionLabel): ?>
        <option value="<?= $optionValue ?>"
            <?= $optionValue == $value ? 'selected' : '' ?>
            ><?= $optionLabel ?></option>
    <?php endforeach ?>
</select>
